<p id="notice"><%= notice %></p>

<h1>Usable Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Legion</th>
      <th>Tier</th>
      <th>Type</th>
      <th>Stage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usable_cards.each do |usable_card| %>
      <tr>
        <td><%= usable_card.name %></td>
        <td><%= link_to 'Show', usable_card %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
