.ui.divider
.ui.basic.center.aligned.segment
  .ui.celled.horizontal.list
    = link_to 'Wiki', 'https://riseoflegions.gamepedia.com/Rise_of_Legions_Wiki', class: 'item'
    = link_to 'Steam Store', 'https://store.steampowered.com/app/748940/Rise_of_Legions/', class: 'item'
    = link_to 'Rise of Legions', 'http://riseoflegions.com/', class: 'item'
    = link_to 'Broken Games UG', 'http://brokengames.de/', class: 'item'